html {
    background-attachment: fixed;
    color: #6cacc5;
  }
  
  body {
    color: #072a38;
    font: 300 18px/1.6 "Source Sans Pro",sans-serif;
    margin: 0;
    padding: 5em 0 2em;
    text-align: center;
  }
  
  h1 {
    font-weight: 300;
    margin: 0;
  }
  
  
  .calculator {
    font-size: 28px;
    margin: 0 auto;
    width: 10em;
  }

 .calculator::before,
 .calculator::after{
    content: " ";
    display: table;
  }
  .calculator::after {
    clear: both;
  }           
  
  .viewer {
    color: #f51004;
    float: left;
    line-height: 3em;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 3em;
  }
  
  button {
    border: 0;
    background: rgba(142,150,113, .28);
    color: #072a38;
    cursor: pointer;
    float: left;
    font: inherit;
    margin: 0.25em;
    width: 2em;
    height: 2em;
    transition: all 0.5s;
  }

  button:hover {
    background: #867efd;
  }
  
  button:focus {
    outline: 0; 
  }
  
  @media (min-width: 420px) {
    .calculator {
      width: 12em;
    }
    .viewer {
      width: 9em;
    }
    button {
      margin: 0.5em;
    }
  }