// src/sass/partials/_fonts.scss

@import url("/assets/fontawesome/css/all.min.css");

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800");

$montserrat: "Montserrat", sans-serif;

