.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: $shadow;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

